body {
    background-color: #eed7c5;
  }
  h1 {
    color: blue;
  }
  h1 {
    text-decoration: "none";
    color:#5e544d;
    font-family: "Book Antiqua", Georgia, "times new roman", serif;
  }  
  .topnav {
    overflow: hidden;
  }